{% extends "base.html" %}
{% block content %}
<div id="about" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h2><b>Welcome to GM BLOGS</b></h2>
                        <p class="lead">Here you will Read about my blogs i posted on trending Technologies.</p>

                        <p> You Will Find it Good and Collective information.</p>
                        <a href="/policy" class="btn btn-light btn-radius btn-brd grd1">Learn More</a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
            </div>
        </div>
</div>
{%endblock%}